/* ==========================================================================
   KAT'S MEOW
   ========================================================================== */


/* ===== global styles ===== */
h1, h2 {
	font-family: 'Hammersmith One', "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h1 {
	margin-bottom: 5px;
}

h2 {
	margin-bottom: 5px;
}

h6 {
	margin: 5px 0 15px 0;
	text-align: center;
}


/* ===== semantic elements: ===== */
/* ===== body | header | nav ===== */
body {
	background-color: #CFECF6;
	font-family: Verdana, Geneva, sans-serif;
}

header {
	width: 300px;
	margin: auto;
	text-align: center;
}

header h1 {
	font-size: 3em;
	text-transform: uppercase;
	color: #5353A4;
}


/* ===== semantic elements: ===== */
/* ===== sections | articles ===== */

main section:first-child h1 {
	text-align: center;
}

.ribbon {
	font-size: 36px;
	width: 200px;
	margin: 1em auto .75em;
	padding: .5em .5em;
	background: #5353A4;
	color: #fff;
	text-align: center;
}

section {
	width: 320px;
	margin: auto;
}

section h2 {
	margin-top: 2em;
	text-align: center;
	color: #5353A4;
}

article {
	width: 245px;
	height: 650px;
	margin: 0 auto 20px auto;
	padding: 0 10px 30px 10px;
	border: 1px solid #5353A4;
	background-color: #FFFBF6;
}

article h1 {
	line-height: 1em;
}

.listschool {
	font-size: .8em;
	margin-top: .5em;
}

footer {
	clear: both;
	width: 100%;
	height: 115px;
	margin-top: 45px;
	padding-top: 345px;
	background-image: url('images/bg_neighborhood.png');
	background-repeat: repeat-x;
	background-color: #21894C;
	text-align: center;
	color: #ffffff;
	font-size: .75em;
}

footer a, footer a:visited {
	color: #FFFFFF;
}


/* ===== more selectors ===== */

.fa-star {
	font-size: .75em;
}

form {
  text-align: center;
}

input[type=text] {
	margin: 10px;
}

input[type=text]:focus, select:focus {
	border: 1px solid #CA8A6E;
}

input[type=submit], input[type=button] {
	text-transform: uppercase;
	margin: 10px;
	padding: 8px;
	background-color: #E79677;
	border-top: 2px solid #E79677;
	border-right: 2px solid #E79677;
	border-left: 2px solid #E79677;
	border-bottom: 2px solid #D0696D;
	color: #FFFFFF;
}

input[type=submit]:hover, input[type=button]:hover, input[type=submit]:active, input[type=button]:active {
	background-color: #F0A47B;
	border: 2px solid #F0A47B;
}

img {
	display: block;
	width: 212px;
	margin: auto;
}

.hide {
	display: none;
}

.error {
	text-align: center;
	font-size: 1em;
	color: #D0696D;
}


/* ================================= */
/* ========== RIBBON FOR =========== */
/* ===== MOBILE LANDSCAPE & UP ===== */
/* ================================= */

@media screen and (min-width:480px) {

.ribbon {
	position: relative;
}

.ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -.25em;
	border: 1.8em solid #424282;
	z-index: -1;
}

.ribbon:before {
	left: -2.75em;
 	border-right-width: 1.5em;
	border-left-color: transparent;
}

.ribbon:after {
	right: -2.75em;
	border-left-width: 1.5em;
	border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #2D2D59 transparent transparent transparent;
	bottom: -.25em;
}

.ribbon .ribbon-content:before {
	left: 0;
	border-width: .25em 0 0 .5em;
}

.ribbon .ribbon-content:after {
	right: 0;
	border-width: .25em .5em 0 0;
}

}


/* ================================= */
/* ===== IPAD & TABLET SCREENS ===== */
/* ================================= */

@media screen and (min-width:768px) {

/* ===== semantic elements: ===== */
/* ===== body | header | nav ===== */
header {
	width: 700px;
}

section {
	width: 450px;
}

#searchResults {
	width: 760px;
}

article {
	float: left;
	width: 35%;
	margin-left: 5%;
	margin-right: 5%;
}

.ribbon {
	font-size: 40px;
	width: 400px;
	padding: .3em 1.25em;
}

.ribbon:before, .ribbon:after {
	border-width: 1em;
}

.ribbon:before {
	left: -1.5em;
}

.ribbon:after {
	right: -1.5em;
}


}


/* ================================= */
/* ===== DESKTOP SCREENS ===== */
/* ================================= */

@media screen and (min-width:1024px) {

/* ===== semantic elements: ===== */
/* ===== body | header | nav ===== */
#searchResults {
	width: 1000px;
}

article {
	float: left;
	width: 25%;
	margin-left: 3%;
	margin-right: 3%;
}

}
